#artistDetail {
    width: 1400px;
    height: 100%;
    margin: auto;
    padding-top: 80px;
    .artist_info {
        height: 160px;
        margin: 30px 0 16px 0;
        .artist_img {
            width: 85px;
            height: 85px;
            border-radius: 5px;
            background-color: black;
            > img {
                width: 85px;
                height: 85px;
                border-radius: 5px;
            }
        }
        .info_text {
            margin-top: 16px;
            > h1 {
                font-size: 30px;
                font-weight: 700;
                letter-spacing: -.5px;
                line-height: 32px;
            }
            > p {
                margin-top: 15px;
                font-size: 15px;
                font-weight: 600;
                letter-spacing: -.3px;
                line-height: 18px;
                color: #555;
            }
        }
    }
    .artist_like {
        width: 100%;
        height: 40px;
        margin: 5px 0;
        > button {
            width: 100%;
            height: 100%;
            font-size: 15px;
            color: #555;
            line-height: 40px;
            letter-spacing: -.5px;
            border: 1px solid #F5F5F5;
            border-radius: 5px;
            background-color: #FFF;
        }
    }
    .artist_filmos {
        margin: 30px 0 100px 0;
        > h2 {
            margin-bottom: 25px;
            font-size: 22px;
            font-weight: 600;
            letter-spacing: -.5px;
            color: #000;
        }
        > table {
            width: 100%;
            thead {
                width: 100%;
                height: 32px;
                border-top: 1px solid #F5F5F5;
                border-bottom: 1px solid #F5F5F5;
                th {
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 30px;
                    color: #555;
                    text-align: left;
                    &:nth-child(1) { width: 10%; }
                    &:nth-child(2) { width: 10%; }
                    &:nth-child(3) { width: 50%; }
                    &:nth-child(4) { width: 10%; }
                    &:nth-child(5) { width: 10%; }
                    &:nth-child(6) { width: 10%; }
                }
                
            }
            tbody {
                width: 100%;
            }
        }
        .more_button_box {
            height: 42px;
            margin-top: 15px;
            .filmos_more_button {
                display: flex;
                margin: auto;
                padding: 12px 60px 12px 60px;
                text-align: center;
                border: 1px solid rgba(0,0,0, .1);
                border-radius: 5px;
                background-color: #FFF;
                align-items: center;
                align-self: center;
                align-content: center;
            }
        }
    }
}